<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}
    <h1>Create Account</h1>
    <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
        <p>Please enter your username:<br>
           {{ form.username() }}
        </p>
        <p>Please enter your email:<br>
           {{ form.email() }}
        </p>
        <p>Please enter your password:<br>
        {{ form.password() }}</p>
        <p>Please re-type your password to confirm:<br>
        {{ form.password_confirm() }}</p>
        <p>{{ form.remember_me }} Remember Me</p>
        <p><input type="submit" value="Create Account"></p>
    </form>
{% endblock %}