<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}
    <div class="header">
        {% if g.user and g.user.is_authenticated %}
            <h1>Welcome, {{ g.user.nickname }}.</h1>
        {% else %}
            <h1>Welcome, stranger.</h1>
        {% endif %}
    </div>
    <div class="contents">
    {% for poem in poems %}
        <div class="poem">
            <h2>{{ poem.name }}</h2>
            <table>
                <tr><td>Author:</td><td><a href="{{ url_for('user', nickname=poem.author.nickname) }}">
            {% if poem.author.avatar %}
                <img src="{{ poem.author.avatar(64) }}">
            {% else %}
                {{ poem.author.nickname }}
            {% endif %}</a></td></tr></table>
            <p>{% for line in poem.body_lines %}
                {{ line }} <br>
            {% endfor %}</p>
        </div>
    {% endfor %}
    </div>
{% endblock %}