{% extends "base.html" %}
{% block content %}
    <form action="" method="post" name="edit">
    {# Todo: add padding to table cells #}
    {{ form.hidden_tag() }}
        <table>
            <tr>
                <td>Poem name:</td>
                <td>{{ form.name(size=24) }}</td>
            </tr>
            <tr>
                <td>Poem body:</td>
                <td>{{ form.body(col=128, rows=60) }}</td>
            </tr>
            <td><input type="submit" value="Save"></td>
        </table>
    </form>
{% endblock %}